<!-- Newsletter call-to-action -->
<div class="cta-form" data-animation="fadeInRightBig">
  
    <!-- Begin MailChimp Signup Form -->
    <div class="mc_embed_signup">

    	<h3>Fill in your name and email address below and and join the course waiting list now to receive course status updates and the chance for discounted pricing!<msup>*</msup></h3>

	    <form action="//boldpixelmedia.us5.list-manage.com/subscribe/post-json?u=d6c6ce7da87357b90e9859e81&amp;id=2091bdd722&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	        <div id="mc_embed_signup_scroll">
			    <!-- <div class="indicates-required"><span class="asterisk">*</span> indicates required</div> -->
			    
			    <div class="mc-field-group">
			  		<label for="mce-FNAME">First Name </label>
			  		<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
			    </div>
			    <div class="mc-field-group">
			  	<label for="mce-EMAIL">Email Address
			  	</label>
			  	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			  	</div>
				 
			    <p class="error-message">Please fill out the fields above.</p>

		        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6c6ce7da87357b90e9859e81_2091bdd722" tabindex="-1" value=""></div>
		        <div class="clear"><input type="submit" value="Join the list!" name="subscribe" id="mc-embedded-subscribe" class="cta-btn"></div>
	      	</div>
	  	</form>

	  	<p class="special-note">* Early-bird discount pricing will be available for a short time – but ONLY for subscribers – so make sure to submit your email above for the chance to save some money!</p>
    </div>
    <!--End mc_embed_signup-->

    <div class="success-message">
		<svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>

		<p>Success! Click the verify link in the email I just sent you to complete your registration.</p>
	</div>

    
</div>